<!DOCTYPE html>
<html>
<b>Street Smart Valuations Appraisal Turntimes:</b></br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
Appraisals: 7 Business Days.</br>
Please note this timeframe is 10 business days in CO.<br>
Turn times for all areas may vary based on location and order complexity.<br>

Full Appraisals Rush Requests: 3-5 Business Days, rush fee may apply.</br>
Appraisals ordered via </br>
Investor required AMC's: Turn times vary, please call (925) 302-6734 or email support@ssvalues.com for an estimate.</br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
Rush Desk Reviews: 1-2 Business Days, rush fee may apply.</br>
Standard Desk Reviews: 3 Business Days.</br>
Desk Reviews ordered via </br>
Investor required AMC's: Turn times vary, please call (925) 302-6734 or email support@ssvalues.com for an estimate.</br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
Field Reviews: 5 Business Days.</br>
Field Review Rush Requests: 3-5 business days, rush fee may apply.</br>
Field Reviews ordered via </br>
Investor required AMC's: Turn times vary, please call (925) 302-6734 or email support@ssvalues.com for an estimate.</br>

Please note that all turn times are average.</br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
<b>Underwriting Return Times</b></br>

Conv New Purchase files Submitted to Underwriting on: <%= @whiteboard.pur_conv %> </br>
FHA New Purchase files Submitted to Underwriting on: <%= @whiteboard.pur_fha %> </br>
VA New Purchase files Submitted to Underwriting on: <%= @whiteboard.pur_va %> </br>
USDA New Purchase files Submitted to Underwriting on: <%= @whiteboard.pur_usda %> </br>
- - - - - - - - - - - - - - - - - - - - - -- - - - - - - - </br>
Conv Refi New files Submitted to Underwriting on: <%= @whiteboard.refi_conv %> </br>
FHA Refi New files Submitted to Underwriting on: <%= @whiteboard.refi_fha %> </br>
VA Refi New files Submitted to Underwriting on: <%= @whiteboard.refi_va %> </br>
USDA Refi New files Submitted to Underwriting on: <%= @whiteboard.refi_usda %> </br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
Conv Condition Submitted to Underwriting on: <%= @whiteboard.con_conv %> </br>
FHA Condition Submitted to Underwriting on: <%= @whiteboard.con_fha %> </br>
VA New Condition Submitted to Underwriting on: <%= @whiteboard.con_va %> </br>
USDA Condition Submitted to Underwriting  on: <%= @whiteboard.con_usda %> </br>

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - </br>
Last Updated on <%= @whiteboard.updated %> 8:00 a.m.
</body>
</html>
